<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--配置项属性可参考：http://dubbo.apache.org/zh-cn/docs/user/references/xml/introduction.html-->

    <dubbo:application name="${dubbo.application.name}" owner="${dubbo.application.owner}"/>

    <!--属性解释
        id：注册中心引用BeanId，可以在<dubbo:service registry="">或<dubbo:reference registry="">中引用此ID
        protocol：注册中心地址协议，下面的protocol标签是服务调用协议
        group：服务注册分组，跨组的服务不会相互影响，也无法相互调用，适用于环境隔离
    -->
    <dubbo:registry id="registry_study"
                    protocol="${dubbo.registry.protocol}"
                    address="${dubbo.registry.address}"
                    group="${dubbo.application.group}"/>
    <dubbo:registry id="registry_studyx"
                    protocol="${dubbo.registry.protocol}"
                    address="${dubbo.registry.address}"
                    group="dubbo_studyx"/>

    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}"/>

    <!--属性解释
        registry：向指定注册中心注册，在多个注册中心时使用，值为<dubbo:registry>的id属性，
                  多个注册中心ID用逗号分隔，如果不想将该服务注册到任何registry，可将值设为N/A
        group：服务分组，当一个接口有多个实现，可以用分组区分
    -->
    <dubbo:service interface="com.lc.dubbo.contract.HelloContract"
                   ref="helloContract1"
                   registry="registry_study"
                   group="group_hello_1"/>
    <dubbo:service interface="com.lc.dubbo.contract.HelloContract"
                   ref="helloContract2"
                   registry="registry_study"
                   group="group_hello_2"/>
    <dubbo:service interface="com.lc.dubbo.contract.HelloContract"
                   ref="helloContract2"
                   registry="registry_studyx"
                   group="group_hello_2"/>

    <dubbo:monitor protocol="registry"/>
</beans>